body {
  font-family: sans-serif;
}
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #efefef;
	padding: 5px 0;
}
.AppLoader {
	text-align: center;
}
.panel {
	border: 1px solid #ddd;
	height: 90vh;
}